version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: reactive-postgres
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: gex
      POSTGRES_PASSWORD: gex
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: reactive-pgadmin
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres

volumes:
  pgdata:
